*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 2px solid red;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #fff8f0;
    color: #333;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 1rem 10rem;
    background-color: #333;
    color: #fff;
}

nav .logo-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav .logo-group h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

nav .logo-group img {
    width: 40px;
    height: auto;
}

nav ul{
    display: flex;
    list-style: none;
    flex: auto;
    justify-content: flex-end;
    margin-right: 5rem;
    gap: 2rem;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img{
    display: block;
    width: 33%;
    height: auto;
}
